<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleBienvenida.css">
    <title>Document</title>
</head>
<body>
    <section id="sectionBienvenida" class="container py-5" >
    <div class="container">
        <div class="titleBienvenida">
            <h2 class="text-center">Bienvenidos a Mi</h2>
            <h2 class="text-center">Portafolio</h2>
        </div>
        <div class="iconsBienvenida">
            <a href="https://github.com/Liw1030" target="_blank" id="iconGitHub" aria-label="GitHub"></a>
            <a href="www.linkedin.com/in/johana-usaquen" target="_blank" id="iconLinkedin" aria-label="Linkedin"></a>
            <a href="/Public/pdf/Hoja de Vida Johana Usaquen.pdf" download="CV_Johana_Usaquen" id="iconCV">CV</a>
        </div>
    </div>
</section>
</body>
</html>

