<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="sectionSobreMi">
        <div class="card mb-3 d-flex justify-content-center align-items-center" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Public/images/FotoMia.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">✨Sobre Mí✨</h5>
                        <p class="card-text">Soy estudiante de Ingeniería de Sistemas y Técnica en Programación Web, con experiencia en desarrollo frontend y soporte técnico.
                            Domino HTML, CSS, JavaScript y manejo localStorage para crear experiencias interactivas y persistentes.Trabajo con Git/GitHub y aplico metodologías ágiles como Scrum.
                        Tengo bases en Svelte y Vue, y me apasiona diseñar interfaces accesibles, funcionales y con estilo propio. Me definen la adaptabilidad, el trabajo en equipo y la resolución creativa de problemas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>